// Color Variables
$primary-color: #d26300;
$primary-light-color: #fbebe3;
$swatch-color: #09090b;
$stroke-color: #eeeef2;
$ghost-color: #8e8ea9;
$grey-color: #717171;
$light-grey-color: #e7e7e7;
$green : #34C759;
$text-color : #09090B;
$muted-icon-color:  #71717A;
$muted-text-color:  #71717A;
$bg-strong-color : #E4E4E7;
// Font Size Variables
$font-size-xxxxxs: 0.625rem;// 10px
$font-size-xxxxs: 0.6875rem;// 11px
$font-size-xxxs: 0.75rem; // 12px
$font-size-xxs: 0.8125rem; // 13px
$font-size-xs: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-xxl: 1.5rem; // 24px

// Font Weight Variables
$font-weight-regular: 400; // Regular
$font-weight-medium: 500; // Medium
$font-weight-semi-bold : 600; // SemiBold
$font-weight-bold: 700; // Bold

// Padding Variables
$padding-button: 0.625rem; // 10px
$padding-standard: 1.25rem; // 20px
$padding-container: 3.75rem; // 60px