:root {
    --navbar-height: 56px;
}

[data-theme='light'] {
    --background-color: #FFFFFF;
    --text-primary-color: #8E8EA9;
    --active-color: #D26300;
    --border-color: #EEEEF2;
    --text-black-color: #09090B;
    --text-grey-100: #717171;
    --text-white-color: #FFFFFF;



    //primary button
    --button-primary: #D26300;
    --button-primary-text: #FFFFFF;
    --button-primary-pressed: #D26300;
    --button-primary-hover: #D26300;
    --button-primary-disabled: #EEEEF2;
    --button-primary-text-disabled: #8E8EA9;

    //seconday button
    --button-secondary: #FFFFFF;
    --button-secondary-text: #09090B;
    --button-secondary-stroke: #EEEEF2;
    --button-secondary-pressed: #F8F9FA;
    --button-primary-disabled: #F8F9FA;
    --button-primary-text-disabled: #8E8EA9;


    //search box
    --search-box-border: #EEEEF2;


    //dropdown component
    --hovered--list-item-bg-color: #FBEBE3;
    --hovered--list-item-text-color: #D26300;
    --selected--list-item-bg-color: #FFFFFF
}

[data-theme='dark'] {
    --background-color: #FFFFFF;
    --text-primary-color: #8E8EA9;
    --active-color: #D26300;
    --border-color: #EEEEF2;
    --text-black-color: #09090B;
    --text-grey-100: #717171;
    --text-white-color: #FFFFFF;



    //primary button
    --button-primary: #D26300;
    --button-primary-text: #FFFFFF;
    --button-primary-pressed: #D26300;
    --button-primary-hover: #D26300;
    --button-primary-disabled: #EEEEF2;
    --button-primary-text-disabled: #8E8EA9;

    //seconday button
    --button-secondary: #FFFFFF;
    --button-secondary-text: #09090B;
    --button-secondary-stroke: #EEEEF2;
    --button-secondary-pressed: #F8F9FA;
    --button-primary-disabled: #F8F9FA;
    --button-primary-text-disabled: #8E8EA9;


    //search box
    --search-box-border: #EEEEF2;


    //dropdown component
    --hovered--list-item-bg-color: #FBEBE3;
    --hovered--list-item-text-color: #D26300;
    --selected--list-item-bg-color: #FFFFFF
}