.input__main-con {
    position: relative;
    height: 36px;

    .input__sub-con {
        border: 1px solid var(--search-box-border);
        width: var(--_search-width);
        border-radius: 8px;
        padding: 10px 40px;
    }

    .prefix__div-con,
    .suffix__div-con {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .prefix__div-con {
        left: 10px;
    }

    .suffix__div-con {
        right: 10px;
    }
}