.manage-courses-garph__main-con {
    padding: 14px 60px;
    border-bottom: 1px solid var(--border-color);

    .sub__con {
        padding: 18px;
        border: 1px solid var(--border-color);
        border-radius: 12px;
    }
}