.course__builder__component {
   .builder__navigation {
   }
   .input__details {
      display: flex;
      .course__overview {
         border: 1px solid $stroke-color;
         border-top: none;
         overflow-x: hidden;
         overflow-y: hidden;
         width: 390px;
         flex-shrink: 0.2;
         .add__modules_button {
            @include flex-center;
            margin: 14px 0px;
         }
         .modules__section__wrapper {
            overflow: auto;
            height: 100%;
            .header {
               padding: 15px 30px;
               margin-bottom: 4px;
               font-size: 14px;
               border: none;
               p {
                  color: $swatch-color;
               }
            }
            .modules {
               overflow-y: auto;
               .module__name {
                  color: $swatch-color;
                  cursor: pointer;
                  @include flex-center(space-between, center);
                  padding: 8px 30px;
                  font-size: 14px;
                  svg {
                     cursor: pointer;
                     color: $primary-color;
                  }
               }
               .module__name:hover {
                  background-color: $primary-light-color;
               }
               .module__name.active {
                  background-color: $primary-light-color;
                  color: $primary-color;
               }
               .lessons__assignments_wrapper {
                  // max-height: 0;
                  // overflow: hidden;
                  transition: all 0.5s ease-in-out;
                  .lessons__assignments_list {
                     text-replace: auto;
                     margin: 6px 0px;
                     .item {
                        padding: 12px 10px;
                        margin-left: 0px;
                        cursor: pointer;
                        gap: 4px;
                        display: flex;
                        align-items: center;
                        p {
                           transition: all 0.3s ease-in-out;
                           color: $ghost-color;
                           font-size: 14px;
                        }
                        button {
                           transition: all 0.3s ease-in-out;
                           transform: translateX(-500px);
                           padding: unset;
                           svg {
                              color: $ghost-color;
                           }
                        }
                     }
                     .item.active {
                        button {
                           svg {
                              color: $primary-color;
                           }
                        }
                        p {
                           color: $primary-color;
                           font-weight: $font-weight-semi-bold;
                           font-size: 14px;
                        }
                     }
                     .item:hover {
                        // background: $primary-light-color;
                        button {
                           transform: translateX(0px);
                        }
                     }
                  }

                  .MuiInputBase-root {
                     display: flex;
                     justify-content: center;
                     margin: 8px 30px;
                  }
               }
               .lessons__assignments_wrapper.full-height {
                  // max-height: 1000px;
               }
            }
         }
         .modules__section__wrapper::-webkit-scrollbar {
            width: 6px;
         }

         .modules__section__wrapper::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 8px;
         }

         .modules__section__wrapper::-webkit-scrollbar-thumb {
            background-color: $bg-strong-color;
            border-radius: 8px;
         }

         .modules__section__wrapper::-webkit-scrollbar-thumb:hover {
            background-color: $bg-strong-color;
         }
      }
      // .course__overview::-webkit-scrollbar {
      //    display: none;
      //    width: 0;
      // }

      .media__editor {
         flex-grow: 1;
         // display: flex;
         overflow-y: scroll;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 20px;
         .image__upload {
            border-radius: 15px;
            width: 800px;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #d9d9d9;
            .action_wrapper {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               gap: 5px;
               button {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  padding: unset;
                  background-color: white;
                  svg {
                     color: $swatch-color;
                  }
               }
               .add-content-text {
                  font-size: $font-size-md;
                  font-weight: $font-weight-medium;
                  color: $swatch-color;
               }
            }
         }
         .media_display {
            width: 800px;
            overflow-y: auto;
            position: relative;
            margin: auto;
            margin-bottom: 20px;
            // .action_wrapper {
            //    position:absolute; 
            //    top:14px;
            //    right : 14px;  
            //    .MuiButtonBase-root {
            //       color: $swatch-color;
            //       font-size: 32px;
            //       background: white;
            //       box-shadow: 1px 1px 1px 0.1px #ccc;
            //       border-radius: 50%;
            //    }
               
            // }
            #react-doc-viewer {
               width: 100%;
               // max-height: 500px;
               #header-bar {
                  display: none;
               }
               #proxy-renderer {
                  #msdoc-renderer {
                     height: 500px;
                  }
               }
            }
         }
         .editor__input {
            margin: auto;
            width: 800px;
            margin-bottom: 30px;
            .react-quill-container {
               div.quill {
                  color: unset;
                  font-size: unset;
                  font-weight: unset;
                  box-shadow: 1px 1px 1px $stroke-color;
                  border: 1px solid $stroke-color;
                  border-radius: 8px;

                  .ql-toolbar {
                     border: none;
                     border-bottom: 1px solid $stroke-color;
                  }
                  .ql-container {
                     border: none;
                     .ql-editor {
                        color: $swatch-color;
                        font-family: "Geist";
                        font-weight: $font-weight-medium;
                        min-height: 250px;
                     }
                  }
               }
            }
         }
         .media_display::-webkit-scrollbar {
            width: 6px;
        }
        
        .media_display::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 8px;
        }
        
        .media_display::-webkit-scrollbar-thumb{
            background-color: $bg-strong-color;
            border-radius: 8px;
        }
        
        .media_display::-webkit-scrollbar-thumb:hover {
            background-color: $bg-strong-color;
        }
        
      }
      .media__editor.activity {
         .action_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: 200px;
            p {
               color: $swatch-color;
            }
            .MuiButtonBase-root {
               background: white;
               box-shadow: 1px 1px 1px 0.1px #ccc;
               border-radius: 50%;
               svg {
                  color: $swatch-color;
               }
            }
         }
      }
      .media__editor::-webkit-scrollbar {
         width: 10px;
      }

      .media__editor::-webkit-scrollbar-track {
         background: transparent;
         border-radius: 8px;
      }

      .media__editor::-webkit-scrollbar-thumb {
         background-color: $bg-strong-color;
         border-radius: 8px;
      }

      .media__editor::-webkit-scrollbar-thumb:hover {
         background-color: $bg-strong-color;
      }
   }
}
