.switch__main-con {
    --_border-color: var(--switch-border-color);
    --_background-color: var(--switch-background-color);

    border: 1px solid var(--_border-color);
    background-color: var(--_background-color);
    padding: 4px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    max-width: max-content;
    gap: 4px;

    &.disabled {
        user-select: none;
        cursor: not-allowed;
        opacity: 0.5;
    }

    .option__con {
        border: none;
        padding: 6px 12px;
        border-radius: 18px;
        background-color: white;
        cursor: pointer;
        transition: background-color 300ms ease-in-out;

        &.selected {
            background-color: var(--switch-selected-bg-color);
        }

        &:hover:not(.selected):not(.disabled):not(.readonly) {
            background-color: var(--switch-unselected-hover-color);
        }

        &.readonly {
            cursor: not-allowed;
        }

        &.disabled {
            user-select: none;
            cursor: not-allowed;
        }
    }

    .option__text {
        font-weight: 500;
        font-size: 14px;
        color: #D26300;
        transform: color 300ms ease-in-out;

        &.selected {
            color: #FFFFFF;
        }
    }
}