.lms__navbar-con {
    position: fixed;
    margin-top: var(--navbar-height);
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    border-bottom: 1px solid var(--border-color);

}