$select-text-line-height: 1rem;
$pills-border-color: #ffebad;
$pills-background-color: #fff3cc;
$pills-text-color: #705500;
.select-container {
   max-width: max-content;
   position: relative;
   display: flex;
   align-items: center;
   gap: 20px;
   .select-header {
      display: flex;
      align-items: center;
      border: 1px solid $stroke-color;
      border-radius: 8px;
      padding: 8px;
      cursor: pointer;

      .label {
         color: $ghost-color;
         font-size: $font-size-xs;
         line-height: $select-text-line-height;
         margin-right: 10px;
         text-wrap: nowrap;
         white-space: nowrap;
         overflow: hidden;
         // max-width: 100px;
         display: flex;
         align-items: center;

         span {
            text-overflow: ellipsis;
            overflow: hidden;
         }

         .pipe {
            height: 12px;
            width: 0px;
            background-color: $stroke-color;
            border: 0.5px solid $stroke-color;
            vertical-align: middle;
            border-radius: 20px;
            margin-left: 5px;
         }
      }

      .selected-value {
         display: flex;
         align-items: center;
         gap: 6px;
         color: $swatch-color;
         font-size: $font-size-xs;
         flex-grow: 1;
         text-wrap: nowrap;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         // max-width: 110px;
         min-width: 80px;

         .chip {
            display: flex;
            align-items: center;
            background-color: $pills-background-color;
            border: 1px solid $pills-border-color;
            border-radius: 6px;
            padding: 0px 4px;
            font-size: $font-size-xxxs;
            font-weight: $font-weight-medium;
            color: $pills-text-color;
            gap: 4px;
            .chip-remove {
               cursor: pointer;
               vertical-align: middle;
               color: $pills-text-color;
               font-size: $font-size-xs;
            }
         }
      }

      .MuiSvgIcon-root {
         color: $swatch-color;
         height: 16px;
         width: 16px;
         margin-left: 6px;
      }
   }

   .badge {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-light-color;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      p {
         font-size: $font-size-xs;
         color: $primary-color;
      }
   }

   .dropdown-list {
      position: absolute;
      width: 340px;
      top: 110%;
      left: 0;
      right: 0;
      background-color: #fff;
      border: 1px solid $stroke-color;
      border-radius: 8px;
      max-height: 300px;
      overflow-y: scroll;
      z-index: 1000;

      .create-new {
         display: flex;
         padding: 10px 0px;
         align-items: center;
         justify-content: center;
         border-bottom: 1px solid $stroke-color;
         gap: 6px;
         background-color: #fff;

         button {
            background-color: transparent;
            border: none;
            font-family: inherit;
            font-size: $font-size-xs;
            font-weight: inherit;
            cursor: pointer;
         }

         .MuiSvgIcon-root {
            font-size: $font-size-xl;
         }
      }

      .search-input-wrapper {
         display: flex;
         align-items: center;
         border-bottom: 1px solid $stroke-color;
         color: $grey-color;
         font-weight: $font-weight-medium;
         gap: 10px;
         padding: 10px 10px 10px 14px;
         .search-input {
            font-weight: $font-weight-regular;
            width: 100%;
            color: $muted-text-color;
            font-size: $font-size-xs;
            outline: none;
            border: none;
            font-family: "Geist";
         }
         .MuiSvgIcon-root {
            font-size: $font-size-xl !important;
            color: $muted-icon-color;
         }
      }

      .dropdown-options {
         list-style-type: none;
         padding: 10px 4px;
         margin: 0;
         overflow-y: scroll;
         height: 200px;
         .dropdown-option {
            padding: 10px;
            cursor: pointer;
            display: flex;
            color: $swatch-color;
            align-items: center;
            justify-content: flex-start;
            font-size: $font-size-xxs;
            gap: 10px;

            .MuiSvgIcon-root {
               color: $primary-color;
               font-size: $font-size-lg;
            }
            .MuiSvgIcon-root.ml-auto {
               margin-left: auto;
            }
         }

         .dropdown-option.selected {
            background-color: white;
            color: $primary-color;
         }

         .dropdown-option:hover {
            background-color: $primary-light-color;
            border-radius: 8px;
            color: $primary-color;
         }
      }
   }
}

.dropdown-list::-webkit-scrollbar {
   display: none;
}
.dropdown-options::-webkit-scrollbar {
   width: 6px;
}

.dropdown-options::-webkit-scrollbar-track {
   background: transparent;
   border-radius: 8px;
}

.dropdown-options::-webkit-scrollbar-thumb {
   background-color: $bg-strong-color;
   border-radius: 8px;
}

.dropdown-options::-webkit-scrollbar-thumb:hover {
   background-color: $bg-strong-color;
}
