.info__tile-main-con {
    padding: 10px;
    border: 1px solid $stroke-color;
    border-radius: 8px;
    min-height: 36px;
    display: flex;
    align-items: center;
    max-width: max-content;
    gap: 12px;


    .title__text {
        font-weight: $font-weight-medium;
        font-size: $font-size-xs;
        color: $ghost-color;
    }

    .divider-con {
        width: 1px;
        height: 10px;
        border-right: 1px solid $stroke-color;
        margin-left: 4px;
    }
}