.course__details-main-con {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;

    .course__title-text {
        color: #09090B;
        font-weight: 500;
        font-size: 14px;
    }
}