.course__settings-main-con {
    margin: auto;
    max-width: 700px;
    padding: 18px;
}

.settings__component {
    display: flex;
    align-items: center;
    padding: 18px;

    .settings__left-component {
        flex-basis: 40%;

        .title__text {
            font-weight: $font-weight-medium;
            font-size: $font-size-md;
            color: $swatch-color;
        }
    }

    .settings__right-component {
        flex-basis: 60%;
    }
}