.signin__main-container {
    display: flex;
    height: 100%;

    .left__component-con {
        flex: 1;
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 60px 20px 30px 20px;
        margin: 0px auto;
        flex-direction: column;

        .left__main-con {
            width: 100%;
            max-width: 372px;
            margin: 0px auto;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .already__have-account-text {
                text-align: center;
                font-weight: 400;
                font-size: 14px;
                color: #9FA1A7;

                .login__text {
                    font-weight: 500;
                    font-size: 14px;
                    color: #D26300;
                }
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .info__text {
            width: 100%;
            max-width: 386px;
            margin: 0px auto;
            line-height: 14px;
            font-weight: 500;
            font-size: 10px;
            color: #75777C;

            .privacy__text {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .right__component-con {
        flex: 1;
        width: 100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow-x: scroll;
        padding: 60px 20px 60px 0px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .header__text {
            line-height: 28px;
            font-weight: 600;
            font-size: 24px;
            color: #232529;
        }

        .description__text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 400px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #5C5E63;
        }
    }
}